<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sharpandroid.com.systembar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SamplesListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DefaultActivity"
            android:label="@string/default_example"
            android:theme="@style/FullBleedTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatchActionBarActivity"
            android:label="@string/match_actionbar_example"
            android:theme="@style/ActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColorActivity"
            android:label="@string/color_example"
            android:theme="@style/FullBleedTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageTranslucentBarActivity"
            android:label="@string/picture"
            android:theme="@style/ImageTranslucentTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColorTranslucentBarActivity"
            android:label="@string/same"
            android:theme="@style/ColorTranslucentTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BestTranslucentBarActivity"
            android:label="@string/best"
            android:theme="@style/ColorTranslucentTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE" />
            </intent-filter>
        </activity>


    </application>

</manifest>